@font-face {
    font-family: oswald;
    src: url(fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: troika;
    src: url(fonts/troika.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
}

body, html {
    height: 100%;
}

.side-photo {
    background-image: url("imgs/aaron-ulsh--blue-water.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.credit > a {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

.credit {
    color:rgb(224, 224, 224);
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    margin-top: 5rem;
}

.text {
    font-family: troika;
    font-size: 6rem;
    color:rgb(231, 231, 231);
}

img {
    width: 200px;
    height: 200px;
}

.credit-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-section {
    background-color: rgb(245, 245, 245);
    font-size: 1.5rem;
    color:rgb(43, 43, 43);
    padding-top: 5%;
    padding-bottom: 5%;
}

label {
    font-size: 1rem;
    font-family: oswald;
    color: rgb(85, 85, 85);
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
    padding: 0 10rem 0 5rem;
}

form {
    background-color: white;
    box-shadow: 5px 0 10px rgb(175, 175, 175);
}

.grid-child {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.bold, .log-in {
    padding: 1rem 5rem;
}

button {
    margin: 1rem 5rem;
    background-color: rgb(21,69,105);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 3px 10px rgb(109, 109, 109);
}

input {
    border: 2px solid rgb(231, 231, 231);
    border-radius: 5px;
    height: 30px;
}

legend {
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem 5rem;
}

.log-in-link {
    text-decoration: none;
    color: rgb(21,69,105);
    font-weight: bold;
}